.table{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.table_name{
    width: 98%;
}
.header{
    display: flex;
    background-color: #6717FF;
    border-radius:  7px;
    text-align: center;
    color: honeydew;
    height: 36px;
    align-items: center;
}
.header_15,.element_15{
    width: 14%;
    text-align: center;
}

.header_40,.element_40{
    width: 30%;
}
.table_content{
    padding: 0;
}
.element{
    list-style: none;
    display: flex;
    padding-bottom: 10px;
}

.element_15,.element_40{
    padding-left: 10px;
}
.button{
    display: flex;
    justify-content: center;
}
.button_delete{
    background-color: crimson;
    color: #fff;
    border: none;
}