<div class="table">
    <div class="table_name">
        <div class="header">
            <div class="header_40" >
                <h2>Name</h2>
            </div>
            <div class="header_15">
                <h2>Phone</h2>
            </div>
            <div class="header_15">
                <h2>Age</h2>
            </div>
            <div class="header_15">
                <h2>Genre</h2>
            </div>
            <div class="header_15">
                <h2>Date</h2>
            </div>
            <div class="header_15">
                <button class="button_delete" (click)="refresh()">Refresh Data</button>
            </div>
        </div>
        <div class="table_content" *ngIf="service.data">
            <div *ngFor="let element of service.data.data" class="element">
                <div class="element_40">
                    {{element.name}}
                </div>
                <div class="element_15">
                    {{element.phone}}
                </div>
                <div class="element_15">
                    {{element.age}}
                </div>
                <div class="element_15">
                    {{element.gender}}
                </div>
                <div class="element_15">
                    {{element.createdAt}}
                </div>
                <div class="element_15 button">
                    <button class="button_delete" value={{element._id}} (click)="deleteElement($event.toElement.value)">Delete</button>
                </div>
            </div>
        </div>
    </div>


