<form class="form_component" [formGroup]="form" (ngSubmit)="post()">
    <div class="form_component_title">
        <h2>Create User</h2>
    </div>
    <div class="form_component_container">
        <div *ngIf="form.errors" class="error_100">
            <div *ngIf="form.errors.invalidCreate">
                ERROR:Complete all fields
            </div>
            <div *ngIf="form.errors.invalidResponse">
                ERROR:Server Error
            </div>
        </div>
        <div>
            <input type="text" placeholder="Name" class="input_100" formControlName="name">
            <div *ngIf="name.touched && name.invalid" class="error_100">
                <div *ngIf="name.errors.required">Name is required</div>
                <div *ngIf="name.errors.minlength">Name should be minimum 3 character</div>
                <div *ngIf="name.errors.maxlength">Name should be maximum 50 character</div>
                <div *ngIf="name.errors.pattern">Name only letters are accepted</div>
            </div>
        </div>
        
        <div class="form_component_container_50">
            <div style="width: 100%;">
                <input type="number" placeholder="Phone" class="input_50" formControlName="phone">
                <div *ngIf="phone.touched && phone.invalid" class="error_50">
                    <div *ngIf="phone.errors.required">Phone is required</div>
                    <div *ngIf="phone.errors.min">Phone should be minimum 7 digits</div>
                    <div *ngIf="phone.errors.max">Phone should be maximum 20 digits</div>
                </div>
            </div>
            <div style="width: 100%;">
                <input type="number" placeholder="Age" class="input_50" formControlName="age">
                <div *ngIf="age.touched && age.invalid" class="error_50">
                    <div *ngIf="age.errors.required">Age is required</div>
                    <div *ngIf="age.errors.min">The minimum age is 1 year</div>
                    <div *ngIf="age.errors.max">The maximum age is 125 years</div>
                </div>
            </div>
        </div>
        <div class="form_component_radio">
            <label>
                <input type="radio"  formControlName="gender" value="Male">
                    Male
            </label>
            <label >
                <input type="radio" formControlName="gender" value="Female">
                Female
            </label>
            <input type="submit" value="Register User" class="form_component_submit">
        </div>
        
    </div>
</form>